.mainLoggin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainBienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}